<h4 class="control-sidebar-heading">
    Layout Options
</h4>
<!--Fixed layout-->
<div class="form-group">
    <label class="control-sidebar-subheading">
        <input type="checkbox" data-layout="fixed"class="pull-right"/>
        Fixed layout
    </label>
    <p>Activate the fixed layout. You can\'t use fixed and boxed layouts together</p>
</div>
<!--Boxed layout-->
<div class="form-group">
    <label class="control-sidebar-subheading">
        <input type="checkbox" data-layout="layout-boxed" class="pull-right"/>
        Boxed Layout
    </label>
    <p>Activate the boxed layout</p>
</div>
<!--Sidebar Toggle-->
<div class="form-group">
    <label class="control-sidebar-subheading">
        <input type="checkbox" data-layout="sidebar-collapse"class="pull-right"/>
        Toggle Sidebar
    </label>
    <p>Toggle the left sidebar\'s state (open or collapse)</p>
</div>
<!--Sidebar mini expand on hover toggle-->
<div class="form-group">
    <label class="control-sidebar-subheading">
        <input type="checkbox" data-enable="expandOnHover"class="pull-right"/>
        Sidebar Expand on Hover
    </label>
    <p>const the sidebar mini expand on hover</p>
</div>
<!--Control Sidebar Toggle-->
<div class="form-group">
    <label class="control-sidebar-subheading">
        <input type="checkbox" data-controlsidebar="control-sidebar-open"class="pull-right"/>
        Toggle Right Sidebar Slide
    </label>
    <p>Toggle between slide over content and push content effects</p>
</div>
<!--Control Sidebar Skin Toggle-->
<div class="form-group">
    <label class="control-sidebar-subheading">
        <input type="checkbox" data-sidebarskin="toggle"class="pull-right"/>
        Toggle Right Sidebar Skin
    </label>
    <p>Toggle between dark and light skins for the right sidebar</p>
</div>